/* Elements */
body {
    font-family: consolas;
    margin-top: 50px;
    background-color: #FAFAFA;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/

/* Navbar Styling */
.navbar-inverse .navbar-brand {
    font-size: 22px;
    font-style: oblique;
    color: white;
}

.navbar-inverse .navbar-nav>li {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #ec407a;
/*    color: #ffab00;*/
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar_li {
    font-size: 18px;
    font-family: consolas;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/

/* Sidebar Styling */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 10%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: auto; /* Stay on top */
    top: auto; /* Stay at the top */
    left: 0;
/*    background-color: #111;  Black */
    background-color: #263238;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 10px 8px 6px 10px;      /* padding: top right bottom left*/
    font-family: consolas;
    font-size: 18px;
    color: white;
    text-decoration-line: none;
    display: flex;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #ec407a;
}
/*-----------------------------------------------------------------------------------------------------------------------------------*/

/* IDs Styling */
#my_inputQueryTable th,td {
    text-align: center;
    padding: 2px;
}

#my_inputQueryTable_head {
    font-size: 14px;
}


/*-----------------------------------------------------------------------------------------------------------------------------------*/

.my_main {
    margin-left: 160px; /* Same as the width of the sidenav */
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/